<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itxiaole.mapper.StudentMapper">

    <select id="list" resultType="com.itxiaole.pojo.Student">
        SELECT * FROM student
        <where>
            <if test="name != null and name != ''">
                AND name LIKE concat('%', #{name}, '%')
            </if>

            <if test="degree != null">
                AND degree = #{degree}
            </if>

            <if test="clazzId != null">
                AND clazz_id = #{clazzId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>